/* CSS/home_pg.css */

/* Body Styles */
body {
  margin: 0;
  font-family: system-ui;
  overflow: hidden;
}

/* Background Styles */
.bg {
  background-image: url("../images/bg_image_ii.jpg");
  color: black;
  padding-top: 500px;
  padding-bottom: 500px;
  background-size: cover;
  background-position: center; /* Corrected background position */
  filter: blur(4px); /* Added blur value */
}

/* Container Styles */
.container {
  background-image: url("../images/bg_image_ii.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  filter: blur(4px);
}

/* Logo Styles */
#logo {
  max-width: 7%;
  height: auto;
  display: block;
}

/* Centered Text Styles */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center; /* Fix for text alignment */
}

/* Paragraph Styles */
p {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
}

/* Link Styles */
a:link,
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
